@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700&display=swap');

.home-main-section {
	max-width: 100%;
	margin: 0;
	margin-left: 20px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.contactImage {
	display: none;
}

.home-main-section .IGLOGO {
	max-width: 150px;
	min-height: 150px;
	margin: 0;
	mix-blend-mode: normal;
}

.home-main-section .TwitLOGO {
	max-width: 100px;
	min-height: 90px;
	margin: 0;
	margin-left: 30px;
	mix-blend-mode: normal;
	margin-right: 20px;
}

.home-main-section .contactHeader {
	margin-left: 55px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 60px;
}

.home-main-section a {
	color: #E5E5E5;
	font-size: 22px;
}

.home-main-section ul {
	margin-left: 55px;
}

@media (min-width: 1000px) {

	body {
		max-width: 1920px;
		max-height: 1080px;
	}

	.home-main-section {
		column-count: 2;
	}

	.contactWrapper {
		justify-content: right;
	}

	.contactImage {
		position: fixed;
		margin: 0;
		right: 30px;
		left: 30px;
		bottom: 0;
		display: flex;
		max-width: 850px;
		max-height: 1100px;
	}
}

@media (max-width: 680px) {

	.email {
		display: none;
	}

	.home-main-section .IGLOGO {
		max-width: 150px;
		min-height: 150px;
		mix-blend-mode: normal;
		margin-bottom: 20px;
	}

	.home-main-section .TwitLOGO {
		max-width: 100px;
		min-height: 90px;
		mix-blend-mode: normal;
	}

	.home-main-section .contactHeader {
		margin-left: 21vw;
		margin-top: 30px;
		margin-bottom: 30px;
		font-weight: 700;
		font-size: 60px;
	}
}