@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700&display=swap');

.home-main-section {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-grow: 1;
	min-height: 80vh;
}

.home-main-section .img-wrapper {
	flex-grow: 1;
	flex-direction: column;
	display: flex;
	align-items: stretch;
	justify-content: flex-end;
}

.home-main-section .home-image {
	margin: 0;
	margin-left: 3em;
	background-image: url('https://raw.githubusercontent.com/dev-caelo/myWeb/master/images/Landing_blue.png');
	flex-grow: 1;
	max-height: 80vh;
	min-width: 30vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom left;
}

.nameFront {
	margin: 0;
	margin-top: 2em;
	margin-right: 5em;
	margin-left: 0.6em;
	white-space: nowrap;
    overflow: hidden;
}

.connect {
	width: 100%;
	height: 10%;
	background-color: #292F3E;
	display: flex;
	justify-content: space-between;
	align-items: center;
	opacity 0.8;
	margin: 0;
}

.wordConnect {
	margin: 0.7rem;
	margin-left: 1rem;
	font-weight: 700;
	font-size: 1.58em;
	letter-spacing: 0.02em;
}

@media (max-width: 845px){

	.home-main-section .img-wrapper {
		display: none;
	}

	.home-main-section {
		justify-content: flex-end;
		display: center;
		min-width: 100vw;
		margin: 0;
	}

	.home-main-section .title {
		text-align: flex-end;
		min-width: 5vw;
		font-weight: 700;
		font-size: 10vw;
		margin-bottom: 0.1em;
		margin-top: 5em;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		margin-right: 8vw;
	}

	.home-main-section .subtitle {
		font-weight: 200;
		font-size: 5vw;
		margin-bottom: 2rem;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		margin-left: 4em;
		margin-right: 2em;
	}

	.connect {
		width: 100vw;
		min-width: 80vw;
	}


}


