body {
	background-color: #312F33;
}

nav.pageHeader {
	background-color: #58515F;
}

.raleway {
	font-family: Raleway, sans-serif;
	color: white;
}

.text-bold {
	font-weight: 700;
	font-size: 75px;
}

.text-light {
	font-weight: 200;
	font-size: 40px;
}

.text-light-small {
	font-weight: 200;
	font-size: 24px;
}

.text-header {
	font-weight: 300;
	font-size: 18px;
  	margin-left: 15px;
  	margin-right: 15px;
  	padding-top: 6px;
  	padding-bottom: 6px;
}

.paddingLeftBody {
	margin-top: 100px;
}

.line {
	width: 80%;
	height: 1px;
	background-color: white;
	margin-bottom: 10px;
}

img.homeImage {
	width: 384px;
	height: 384px;
}

img.aboutImage {
	width: 300px;
	height: 300px;
}

a.mediaIcon {
	margin-left: 10px;
	margin-right: 10px;
}

li.boldList {
	font-family: Raleway, sans-serif;
	font-size: 40px;
	color: white;
}

li.subList {
	font-family: Raleway, sans-serif;
	font-size: 26px;
	color: white;
}

.listHeader {
	font-size: 3.5rem;
}

@media (max-width:  991px) {
	.paddingLeftBody{
		margin-top: 40px;
	}

	.text-bold {
		font-size: 65px;
	}

	.text-light {
		font-size: 28px;
	}
}

@media (max-width: 360px) {
	.text-bold {
		font-size: 40px;
	}

	.text-light {
		font-size: 16px;
	}

	.text-light-small {
		font-size: 16px;
	}

	.text-header {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	img.homeImage {
		width: 250px;
		height: 250px;
	}

	img.aboutImage {
		width: 230px;
		height: 230px;
	}

	.listHeader {
		font-size: 2rem;
	}

	li.subList {
		font-size: 13px;
	}

	.fs-4 {
		font-size: 13px;
	}
}