@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	padding: 0;
	margin: 0;
	background-image: url('https://raw.githubusercontent.com/dev-caelo/myWeb/master/images/background1LIGHT.png');
	background-color: #A5C0DF;
	font-family: Raleway, sans-serif;
	font-size: 1.2rem;
	color: #E5E5E5;
	min-height:100vh;
	min-width:100vh;
}

header {
	padding: 0;
	margin: 0;
}

.full-height-grow {
	display: flex;
	flex-direction: column;
}

.nameHead {
	display: flex;
	align-items: center;
	transform-origin: 0;
	transform: rotate(-4.94deg);
	font-family: Great Vibes, sans-serif;
	font-size: 2.5rem;
	color: #A5C0DF;
	margin-left:2rem;
	margin-top:1rem;
}

.navHead ul {
	display: flex;
	margin: 0;
	margin-right:2rem;
	padding: 0;
	list-style: none;
}

.navHead a {
	color: #E1E7F0;
	font-weight: 200;
	text-decoration: none;
	padding: 1.7rem;
	padding-right: 0.8rem;
	font-size: 1.2em;
	letter-spacing: 0.02em;
	height: 140px;
	text-align: center;
}

.navHead a:hover {
	color: #A5C0DF;
}

.pageHeader {
	width: 100%;
	height: 5%;
	background-color: #292F3E;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-weight: 700;
	font-size: 2.5em;
	margin-bottom: 1rem;
	margin-top: 0;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitle {
	font-weight: 300;
	font-size: 1.2em;
	margin-bottom: 2rem;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
