@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700&display=swap');

body {
	overflow-y: hidden;
}

.about-main-section {
	height: 100vh;
}

.column1 {
  float: left;
  width: 50%;
  max-width: 900px;
  padding: 25px;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  max-height: 90vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.aboutImage {
	width: 100%;
	height: 90vh;
	background-image: url("https://raw.githubusercontent.com/dev-caelo/myWeb/master/images/About2blue copy.png");
	background-position: bottom left;
	background-size: contain;
	background-repeat: no-repeat;
}

.column2 {
  float: left;
  width: 50%;
  padding: 25px;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.aboutTitle {
	max-width: 340px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: right;
	font-size: 25px;
	color: #E5E5E5;
	font-weight: 300;
	margin-bottom: 20px;
}

.aboutTitle h2 {
	max-width: 110px;
	font-size: 70px;
	font-weight: 700;
	margin-left: 40px;
	margin-top: 20px;
}

.sideText {
	font-size: 22px;
	margin-bottom: 50px;
	margin-right: 50px;
	mix-blend-mode: hard-light;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1300px) {
	.sideText {
		margin-right: 100px;
	}
}


@media (max-width: 1250px) {
	.column1 {
  	  display: none;
  	}

  	.column2 {
  		width: 100%;
  	}
}
