body {
	font-weight: 300;
}

div.container {
	width: 100%;
	height: 95%;

	background-color: grey;
}

/* top section (title and date) */
div.portfolioTitle {
	width: 300px;
	height: 20%;
	float: left;

	margin-bottom: 30px;
}

.portfolioTitle h1 {
	font-size: 60px;
	float: right;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	margin-top: 1vw;
}

.portfolioTitle p {
	font-size: 16px;
	float: right;

}

/* portfolio body portion */
div.portfolioBody {
	width: 100%;
	height: 85%;
	float: right;
}

.column {
  float: left;
  width: 50%;
  padding: 25px;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* portfolio items */

.item {
	position: relative;

	width: 80%;
	max-width: 1000px;
	height: 15vw;
	max-height: 180px;
	background-color: grey;

	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5vw;
	margin-bottom: 0.5vw;

	box-shadow: 0 0 1px #292F3E;
}

.item:hover {
	cursor: pointer;
}

.itemDrop {
	display: none;
	position: absolute;

	width: 80%;
	max-width: 1000px;
	height: 15vw;
	max-height: 180px;
	background-color: white;

	margin-left: auto;
	margin-right: auto;

	transition-duration: 0.5s;
}

/* port: curricullege */

.curricullege {
	background-image: url(images/curricullege.png);
	background-repeat: no-repeat;
	background-size: 60% 50%;
	background-position: center;
}

.orange {
	background-color: #FFC876;
	transition-duration: 0.5s;
}

.orange:hover {
	background-color: #DBA85D;
	transition-duration: 0.5s;
}

.itemDrop.curricullege {
	background: none;
	background-color: white;
}

.curricullege:hover .itemDrop.curricullege {
	display: block;
}

@media (max-width: 845px) {

	div.portfolioTitle {
		float: left;
		width: 100%;
	}

	.portfolioTitle h1 {
		float: none;
		text-align: center;
	}

	.portfolioTitle p {
		display: none;
	}

	.column {
		width: 100%;
		float: none;
	}
}
